<h1><%= @title %> </h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Event Type</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_name %></td>
    <td><%= event.event_type %></td>
    <td><%= event.address %></td>
    <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= event.zip_code %></td>
    <td><%= link_to 'Show', event %></td>
    <% if event.user_id == session[:user_id] %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Search Events', events_search_path %>
<%= link_to 'My Events', events_search_results_path(:params => {:user_id => session[:user_id]}), :method => 'post' %>
<br />


<%= gmaps(:map_options => { :auto_adjust => true,
                            :auto_zoom => false,
                            :zoom => 12,
                            :center_on_user => true},
                            :markers     => { :data => @json }) %>
